#root {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  text-align: center;

  color: #1c2c4c;
  background-color: lightcyan;
}

img:hover{
    border: 1px solid #4c768d;
    background-color: rgb(201, 230, 230);
    border-radius: 10%;
    -webkit-transition: border-radius 1s, background-color 1s;
}

.header {
    background-color: #4c768d;
    -webkit-transition: background-color 1s;
}

.header:hover {
    background-color: #3e6072;

}

.footer {
    background-color: #4c768d;
    color: lightcyan;
}

hr {
    border-top: 1px dashed #4c768d
}